@use "./themes";

body {
  background: var(--bg);
  color: var(--text);
  font-family: system-ui, sans-serif;
}

button {
  background: var(--primary);
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}
